# Stack
.stack-work/
.stack-work-temp/
stack.yaml.lock
cabal.project.local

# Cabal
dist/
dist-newstyle/
cabal.sandbox.config
.sandbox/
cabal.project.local~

# Tempfiles
temp/

# GHC
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.aux
*.hp
*.eventlog
*.eventlog.stats

# Nix
flake.lock

# macOS
.DS_Store
